<div class="motd">
    API KEY - if you want this key, please go through authentication process(POST api/users)!
    <br />
    If you would like to work with online doc without setting extra headers, please set API KEY to "api key" field on the right top corner.
    <br />
    for Mobile APP please set the X-AUTH-TOKEN header with api token.
</div>
